@use 'sass:map';

:root {
  --text-white-color: #fff;
  --link-hover--color: #EDCC65;
  --link-categories--color: #878787;
  --bg-blue-color: #1e90ff;
  --bg-bullet-active--color: #FDFAFA;
  --bg-bullet--color: #C4C4C4;
}
