@use 'sass:map';

:root {
  --text-white-color: #fff;
  --text-grey--color: #878787;
  --link-hover--color: #EDCC65;
  --bg-blue-color: #1e90ff;
  --bg-bullet-active--color: #FDFAFA;
  --bg-bullet--color: #C4C4C4;
  --border--color: #EEEEEE;
  --border-card--color: #E5E5E5;
}
