@import './base.css';
@import '/fonts/fonts.css';

:root {
  --blue-color: #9ecdd6;
  --secondary-color: #35495e;
  --accent-color: #ff7e33;
  --error-color: #ff5252;
  --background-color: #ffffff;
  --text-color: #2c3e50;
}
